<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      DASH wallet
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card >
      <ion-card-header>
      <ion-card-title>
     Wallet details
      </ion-card-title>
      </ion-card-header>
      <ion-card-content >
       <ion-item>
         <ion-label >  <h4> Wallet address  </h4>
         <p> walletaddress  </p> </ion-label>
       </ion-item>

       <ion-item>
         <ion-label > <h4> Wallet balance  </h4>
         <p> walletbalance </p> </ion-label>
       </ion-item>
      </ion-card-content >
    </ion-card >

    <ion-card >
      <ion-card-header>
      <ion-card-title>
     Direct send payment 
      </ion-card-title>
      </ion-card-header>
      <ion-card-content >
       <ion-item>
         <ion-label position="stacked"> Address to send </ion-label>
         <ion-input  [(ngModel)]="sendtoaddress" placeholder="Address to send "></ion-input>
       </ion-item>

       <ion-item>
      <ion-button fill="clear" size="small" color="primary" (click)="sendpayment()"> Direct send </ion-button>
      <ion-button fill="clear" size="small" color="primary" (click)="sendasmessage()"> Send as message  </ion-button>
       </ion-item>
      </ion-card-content >
    </ion-card >



    <ion-card class="datainput">
      <ion-card-header>
      <ion-card-title>
     Receive Fund from payment message
      </ion-card-title>
      </ion-card-header>
      <ion-card-content >
            <ion-item>
         <ion-label position="stacked"> Enter unlock message below </ion-label>
            <ion-textarea rows="8" text-wrap type="text" [(ngModel)]="revertible.message"
                          placeholder="Enter unlock message "></ion-textarea>
            </ion-item>


            <ion-item>
         <ion-label position="stacked"> Enter Unlock PIN below </ion-label>
         <ion-input  [(ngModel)]="revertible.pin" placeholder="Enter Unlock PIN "></ion-input>
           </ion-item>

      <ion-button fill="clear" size="small" color="primary" (click)="gettestnetbalance()"> Check balance testnet </ion-button>

           <ion-item *ngIf="addressbalance">
        <p> Balance: {{addressbalance.balanceSat}}  </p> , 
        <p>  
        Address: {{addressbalance.addrStr}}
        </p>
           </ion-item>
      </ion-card-content>
    </ion-card>
      <ion-item >
      </ion-item >
    <ion-card class="datainput">
      <ion-card-header>
      <ion-card-title>
    Place to enter income address 
      <ion-button fill="clear" size="small" color="primary" (click)="loadtestnetaddress()"> Testnet </ion-button>
      </ion-card-title>
      </ion-card-header>
      <ion-item >
         <ion-label position="stacked"> Enter DASH address to receive fund </ion-label>
         <ion-input  [(ngModel)]="revertible.target" placeholder="Enter DASH income address "></ion-input>
      </ion-item >
      <ion-item >
      Accept funds
      <ion-button fill="clear" size="small" color="primary" (click)="consumetestnetmessage()"> Testnet </ion-button>
      </ion-item >

    </ion-card>

    <ion-card class="datainput">
      <ion-card-header>
      <ion-card-title>
     Status of transaction will be displayed below 
      </ion-card-title>
      </ion-card-header>

      <ion-item >
     Transaction output:  {{transacted.txid}}
      </ion-item>
      <ion-item >
     Amount : {{transacted.amount}}
      </ion-item>
      <ion-item >
     <h4> From address : {{transacted.fromaddress}} </h4>
      </ion-item >
      <ion-item >
<h4>      To address : {{transacted.toaddress}} </h4>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-card-header>
      <ion-card-title>
     Income potential for developers, solution providers
      </ion-card-title>
      </ion-card-header>
      <ion-card-content>
  <ion-label>
  <h4>
  1)   As a service provider, you can choose percentage of user-transaction as your fees. This will be your income. This can be set upon SIGNUP.
  </h4>
  <ion-item-divider>
  </ion-item-divider>
  <h4>
2) To signup send email to puppipay01@gmail.com
  </h4>
  <ion-item-divider>
  </ion-item-divider>
  <h4>
3) PuppiPay is a product of Belavadi Technology Solutions. All Rights Reserved.
  </h4>
 <ion-item-divider>
  </ion-item-divider>

  <h4>
4) Subject to various limitations, terms and conditions. 
  </h4>

  </ion-label>
      </ion-card-content>
    </ion-card>


</ion-content>
