<ion-header>
  <ion-toolbar color="primary">
   <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>


  <ion-segment  [(ngModel)]="whichsegment">
    <ion-segment-button value="send">
      <ion-label > Send funds </ion-label>
    </ion-segment-button>
    <ion-segment-button value="messages">
      <ion-label > Messages </ion-label>
    </ion-segment-button>
  </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="issued">
<div *ngIf="whichsegment == 'send'">

  <ion-card >
      <ion-card-header>
     Direct Send payment
      </ion-card-header>
      <ion-card-content >
       <ion-item>
         <ion-label position="stacked"> Amount to send </ion-label>
         <ion-input  [(ngModel)]="toamount" placeholder="Amount to send "></ion-input>
       </ion-item>
       <ion-item>
         <ion-label position="stacked"> Address to send </ion-label>
         <ion-input  [(ngModel)]="toaddress" placeholder="Address to send "></ion-input>
       </ion-item>
      <ion-button fill="clear" size="small" color="primary" (click)="sendpayment()"> Direct send </ion-button>
    </ion-card-content >
  </ion-card >
  <ion-card >
      <ion-card-header>
     Revertible Send payment
      <ion-button fill="clear" size="small" color="primary" (click)="generatetestnet()"> Create address</ion-button>
      </ion-card-header>
      <ion-card-content >
       <ion-item>
         <ion-label position="stacked"> Amount to send </ion-label>
         <ion-input  [(ngModel)]="toamount" placeholder="Amount to send "></ion-input>
       </ion-item>


      <ion-item text-wrap>
         <ion-label position="stacked"> Revertible address below </ion-label>
         <ion-input  [(ngModel)]="issued.address" placeholder="Revertible address" readonly></ion-input>
      </ion-item >
       <ion-item>
      <ion-button fill="clear" size="small" color="primary" (click)="depositefund()"> Deposit fund </ion-button>
       </ion-item>
      </ion-card-content >
    </ion-card >



    <ion-card class="datainput">
      <ion-card-header>
      <ion-card-title>
     Message/PIN for revertible address
      </ion-card-title>
      </ion-card-header>
      <ion-card-content >
            <ion-item>
         <ion-label position="stacked"> Locking message </ion-label>
            <ion-textarea rows="4" text-wrap type="text" [(ngModel)]="issued.message"
                 placeholder="Locking message "></ion-textarea>
            </ion-item>


            <ion-item>
         <ion-label position="stacked"> PIN </ion-label>
         <ion-input  [(ngModel)]="issued.pin" placeholder="PIN "></ion-input>
           </ion-item>

      <ion-item *ngIf="issued.fullredeemurl">
         <ion-label position="stacked"> FullRedeem sharable link </ion-label>
         <ion-input  [(ngModel)]="issued.fullredeemurl" placeholder="Place to display revertible address"></ion-input>
      </ion-item >

      </ion-card-content>
    </ion-card>
      <ion-item >
      </ion-item >

    <ion-card class="datainput">
      <ion-button fill="clear" size="small" color="primary" (click)="gettestnetbalance()"> Check balance</ion-button>

      <ion-item >
     Balance: {{addressbalance.balanceSat}}
      </ion-item >
      <ion-item >
     Transaction id: {{txid}}
      </ion-item >
    </ion-card>

</div>
<div *ngIf="whichsegment == 'messages'">

  <ion-item *ngIf="sendingmessages.length == 0" >
  No messages
    </ion-item  >
         
 <ion-list> 

    <ion-item *ngFor="let msg of sendingmessages" >
          <ion-label  text-wrap>
            <h3> Message:          {{msg.message}}
  </h3>
            <h4> Address:          {{msg.address}}
  </h4>
            <p>
          PIN: {{msg.pin }}
            </p>
       </ion-label>
    </ion-item>

 </ion-list> 

</div>
</ion-content>
