<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Send payment
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="issued">
  <ion-card >
      <ion-card-content >
       <ion-item>
         <ion-label position="stacked"> Amount to send </ion-label>
         <ion-input  [(ngModel)]="toamount" placeholder="Amount to send "></ion-input>
       </ion-item>
      <ion-card-header>
     Direct Send payment
      <ion-button fill="clear" size="small" color="primary" (click)="sendpayment()"> Direct send </ion-button>
      </ion-card-header>
       <ion-item>
         <ion-label position="stacked"> Address to send </ion-label>
         <ion-input  [(ngModel)]="toaddress" placeholder="Address to send "></ion-input>
       </ion-item>
    </ion-card-content >
  </ion-card >
  <ion-card >
      <ion-card-content >
       <ion-item>
         <ion-label position="stacked"> Amount to send </ion-label>
         <ion-input  [(ngModel)]="toamount" placeholder="Amount to send "></ion-input>
       </ion-item>

      <ion-card-header>
     Revertible Send payment
      <ion-button fill="clear" size="small" color="primary" (click)="generatetestnet()"> Create Address</ion-button>
      </ion-card-header>

       <ion-item>
      <ion-button fill="clear" size="small" color="primary" (click)="depositefund()"> Deposit fund </ion-button>
       </ion-item>
      </ion-card-content >
    </ion-card >



    <ion-card class="datainput">
      <ion-card-header>
      <ion-card-title>
     Message/PIN for revertible
      </ion-card-title>
      </ion-card-header>
      <ion-card-content >
            <ion-item>
         <ion-label position="stacked"> Lock message below </ion-label>
            <ion-textarea rows="4" text-wrap type="text" [(ngModel)]="issued.message"
                 placeholder="Place to display lock message "></ion-textarea>
            </ion-item>


            <ion-item>
         <ion-label position="stacked"> PIN below </ion-label>
         <ion-input  [(ngModel)]="issued.pin" placeholder="Place to display PIN "></ion-input>
           </ion-item>

      <ion-item text-wrap>
         <ion-label position="stacked"> Revertible address below </ion-label>
         <ion-input  [(ngModel)]="issued.address" placeholder="Place to display revertible address"></ion-input>
      </ion-item >
      <ion-item *ngIf="issued.fullredeemurl">
         <ion-label position="stacked"> FullRedeem sharable link </ion-label>
         <ion-input  [(ngModel)]="issued.fullredeemurl" placeholder="Place to display revertible address"></ion-input>
      </ion-item >

      </ion-card-content>
    </ion-card>
      <ion-item >
      </ion-item >

    <ion-card class="datainput">
      <ion-button fill="clear" size="small" color="primary" (click)="gettestnetbalance()"> Check balance</ion-button>

      <ion-item >
     Balance: {{addressbalance.balanceSat}}
      </ion-item >
      <ion-item >
     Transaction id: {{txid}}
      </ion-item >
    </ion-card>


</ion-content>
